.wrapper, html, body {
    height: 100vh;
    margin: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}
.head_container{
    background-color: #1F2937;
    gap: 26vh;

}

.header{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: baseline;
    justify-content: space-between;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    justify-content: flex-start;
    margin-left: 10px;
}

.header_ul{
    margin-right: 10px;

}
ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB
}
li{
    list-style: none;
}

.initial{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 70px;
    padding-left: 70px;
    margin-bottom: 40px;
    margin-top: 20px;
    gap: 70px;

}
.info1{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: left;
    
}
.hero_text{
    flex-shrink: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:48px;
    color:#F9FAF8
}

.infoText{
    flex-shrink: 1;
    color:#F9FAF8;

}

.InfoButton{
    flex-shrink: 1;
    width: 70px;
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid;
    border-color: #3882f6;
}
.image1{
    display: flex;
    background-color: darkgrey;
    text-align: center;
}
.imageText{
    align-self: center;
}

.mid_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.info_wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content:stretch;
    gap: 5px;
    margin-left: 0px;
    margin-right: 0px;
    
}

.card{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: stretch;
    
}
.box{
    width: 15vw;
    height: 10vh;
    border: 2px solid;
    border-color:#3882f6;
    border-radius: 15px;
}

.three{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    background-color:#E5E7EB;
    color: #1F2937;
}

.words{
    width: 50vw;
    font-size: 36px;
}
.thor{
    text-align: right;
    margin-right: 0px;
}


.footer{
    margin-bottom: 0px;
}